*{

    box-sizing: border-box

}

.container {

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.background {

    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 6px solid red

}